
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.board {
  background-color: black;
  padding: 15px;
}

.board-area-active {
  display: flex;
  flex-direction: column;
  background-color: khaki;
  padding: 30px;
}

.board-area-inactive {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.board-hdr {
  text-align: center;
}
.board-row {
  /*margin: 0px*/
}

.water {
  background-color: cornflowerblue;
  width: 45px;
  height: 45px;
  margin: 0;
  padding: 0;
  border: 1px solid #000;
  font-size: 30px;
  font-weight: bold;
  text-align: center;;
  color: red;
}

button:focus {
  outline: none;
}


.ship {
  background-color: saddlebrown;
  width: 45px;
  height: 45px;
  margin: 0;
  padding: 0;
  border: 1px solid #000;
  font-size: 30px;
  font-weight: bold;
  text-align: center;;
  color: red;
}

.game-form {
  display: flex;
  flex-direction: column;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.game-form > div {
  margin: 8px;
}

.game-form > div > label {
  font-weight: bold;
}

.game-form > div  > input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px 6px;
  background: transparent;
  border: 1px solid #aaa;
  width: 100%;
  font-size: 1em;
  margin-right: 16px;
  margin-top: 4px;
}

.game-form > div > input:focus {
  outline: 0;
}

.game-form > div > button {
  background-color: #b0d9d6;
}

.game-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.game-results-outer {
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  display: flex;
  top: 25%;
}

.game-results-inner {
  background: darkgrey;
  width: 50%;
  height: 50%;
  opacity: 0.7;
  align-items: center;
  justify-content: center;
  display: flex;
}

.game-results-inner > h1 {
  text-align: center;
  opacity: unset;
}

.error {
  color: red;
  font-weight: bold;
}

.player-summary-player {
  font-weight: bold;
}

.player-summary-playerName {
  font-weight: bolder;
  font-size: x-large;
  color: blue;
}

.player-summary-playerScore {
  font-weight: bolder;
  font-size: x-large;
  color: darkmagenta;
}

.player-summary-code {
  font-weight: lighter;
}
